:root{
    --title-white-color :#FFFFFF;
    --title-black-color:#212121;
    --link-blue-color: #2196F3;
    --logo-black-color:#000000;
    --text-gray-color:#757575;
    
    }
    body{
    background-color:var(--title-white-color);
    color: var(--text-gray-color);
    font-family: Roboto, sans-serif;
    }
    
     /*  HEADER/
     /*NAV*/
    
     .container {
         width: 1200px;
         padding-left: 15px;
         padding-right: 15px;
         margin-left: auto;
         margin-right: auto;
     }
     .headernav{
         display: flex;
         
     }
     .header .logo{
         color:var(--logo-black-color);
         font-family: Raleway;
         font-size: 26px;
         line-height: 1.19;
         text-decoration: none;
     }
     .span-logo{
         color:var(--link-blue-color) ;
     }
     .logo:hover{
         color: var(--link-blue-color);
     }
     .header .span-logo:hover{
         color: var(--logo-black-color);
     }
     .logo{ 
        display:inline-block;
        padding-top: 23px;
        padding-bottom: 25px;

    }
     .list{
         list-style: none;
     }
     .link{
         text-decoration: none;
     }
     .site-nav {
         display: flex;
         font-weight: 500;
         font-size: 14px;
         line-height: 1.14;
         letter-spacing: 0.02em;
         text-decoration: none;
        }
       .navigation{
           margin-left: 70px;
       }
     .site-nav .link{
         color: var(--title-black-color);
         display: block;
         padding-top: 15px;
         padding-bottom: 15px;
     }
     .site-nav :not(:last-child){
         margin-right: 45px;
        }
     .contact-nav{
        display: flex;
    } 
    .contact{
        margin-left: auto;
    }
    
     .contact-nav .link{
        color:#757575;
        font-style: 400;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
       
     }
   
     .site-nav .link:hover,
     .site-nav .link:focus{
         color:var(--link-blue-color);
     }
     .contact-nav .link:hover,
     .contact-nav .link:focus{
        color:var(--link-blue-color);
    }
    
    /* SECTION-MAIN*/
    
    .section{
        background-color: var(--title-black-color);
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }
    .visually-hidden{
        width: 1px;
        height: 1px;
        overflow: hidden;
        padding: 0;

    }
    .section .main-title{
        color: var(--title-white-color) ;
        font-weight: 900;
        font-size: 44px;
        padding-top: 150px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-top: 0;
    }
    .section .button{
        color: var(--title-white-color) ;
        background-color: var(--link-blue-color);
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 150px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        border-radius: 5px;
    }
    .section .button:hover,
    .section .button:focus{
        color: var(--title-black-color) ;
        background-color: var(--title-white-color);
    }
    .title-second{
        display: flex;
    }
    .servies-li:not(:last-child){
        margin-right: 30px;
        
    }
    .section-title{
        color: var(--title-black-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
    
    }
    .second-title{
        color: var(--title-black-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }
    .section-description{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    }
    .list{
        display: flex;
    }
    .itemsimg:not(:last-child){
       margin-right: 30px;
    }
    .img,
    .team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }
    .name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-transform: inherit;
    }
    .page-name{
        font-size: 16px;
        line-height: 1.18;
    }
    /* FOOTER*/
    .footer{
        background-color: black;
        padding-top: 60px;
        padding-bottom: 60px;
    }
        
    .footer .logo{
        color: var(--title-white-color);
        font-family: Raleway;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        display: inline-block;
    }
    .span-logo{
        color: var(--link-blue-color);
    }
    .logo:hover{
        color:var(--link-blue-color);
    }
    .span-logo:hover{
        color:var(--title-white-color);
    }
    .address {
        text-decoration: none;
        color: var(--title-white-color);
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
    }
    .footer-list .address:hover,
    .footer-list .address:focus{
        color: var(--link-blue-color);
    }
    .footer-list .link {
        color: rgb(255, 255,255,0.6);
        font-size: 14px;
        line-height: 1.71;
        text-decoration: none;
    }
    .adress{
        display: block;
        margin-top: 20px; 
        margin-bottom: 9px;
    }
    
    .contact-navfooter{
        display: block;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
           
    }
    .telmailli:not(:last-child){
        margin-bottom: 9px;
    }
    
    
    /* PORTFOLIO*/
    .portfolio-section .btnlist{
        color: var(--title-black-color);
        background-color:#F5F4FA;
        font-family: Roboto, sans-serif;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;  
    }
    .button-list {
        justify-content: center;
    }
    .btnli:not(:last-child){
        margin-right: 10px;
    }
    
    .portfolio-section .btnlist:hover,
    .portfolio-section .btnlist:focus{
        background-color:var(--link-blue-color);
        color: var(--title-white-color);   
    }
    .portfolio-list{
        display: flex;
        flex-wrap: wrap;
       justify-content: space-between;
    }